main{
    display:flex;
    flex-direction: row;
    margin:20px;
}


#navlong{
    position: fixed;
    top : 0;
    width : 100%;
    z-index: 1;
}


body{
    flex-grow : 3;
}

#diagramme{
    margin-top: 40px;
    height: 1400px;
    width: 900px;
}

#page{
    margin-left: 20%;
    margin-top : 5%;
    position: sticky;
}


.sidebar{
    width: 100%;
    position:fixed;
    top : 17%;
    /*border:2px solid red;*/
}

.d{
        margin-top: 6%;
    /* background: red; */
    height: 36%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.chart-head{
    background-color: #f8f9fa;
}

.btn-outline-success {
    color: cadetblue;
    background-color: transparent;
    background-image: none;
    border-color: cadetblue;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: cadetblue;
    border-color: cadetblue;
}

